PORT=4000
NODE_ENV=development

# You can later add storage / DB configuration here, e.g.:
# MONGO_URI=mongodb://localhost:27017/pulse_stream
# POSTGRES_URL=postgres://user:password@localhost:5432/pulse_stream
# REDIS_URL=redis://localhost:6379

